{% extends "shop_site/base.html" %}
{% block content %}
<h1>Про нас</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam facere voluptatum repellendus voluptatem quaerat
    quos sunt a enim, totam impedit? Corporis inventore at nisi aut nesciunt voluptatem numquam totam excepturi.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid quaerat pariatur magnam quod dolore qui? Optio
    tempora aspernatur recusandae iste esse perferendis nam. Odio at, perspiciatis quam voluptatibus accusantium ex.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos expedita accusamus tenetur officiis quod aut
    consectetur nostrum perspiciatis. Maxime officiis enim incidunt officia facere neque amet quisquam unde corporis
    accusamus.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit exercitationem, dignissimos amet ullam, quod cum
    aspernatur est vel labore dolor totam quia reprehenderit iure alias quo itaque! Eveniet, magnam vitae?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit distinctio voluptas reiciendis autem excepturi
    dolorum tempora accusantium recusandae omnis ipsam. Accusantium explicabo architecto, expedita magnam ipsum facilis
    optio distinctio veniam?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, porro fugit adipisci sequi laudantium, dicta
    aspernatur necessitatibus deleniti distinctio voluptates at libero ea itaque? Mollitia tenetur corporis consectetur
    molestias ea?S</p>
{% endblock content %}